<div class="connectionRejection">
  <div id="connectionDivMyDivRejection">
     <form id="connectionFormMyformRejection" action="" method="POST" enctype="multipart/form-data">
          <p id="rejectionMessage1">Sorry!....You Cannot Send Friend Request to yourself.</p>
          <p id='connectionRejectionHidden'></p>
          <p id='connectionRejectionHidden1' style=""></p>
     </form>
  </div>
</div>