<div class="connectingConfirmed">
  <div style="background-color: transparent;position: fixed; top: 0px;width: 100%;">
    <i class="material-icons" style="float: right;color: red; cursor: pointer; font-size:50px; padding: 10px;" id="closeEnterDaises"></i>
  </div>
  <div id="connectingDivMyDiv">
     <form id="connectingFormMyform" action="" method="POST" enctype="multipart/form-data">
          <p style="text-align: center; color: white;">Connected Succesfully!!!</p>
     </form>