<div id="modal3">
  <div style="background-color: transparent;position: fixed; top: 0px;width: 100%;">
    <i class="material-icons" style="float: right;color: red; cursor: pointer; font-size:50px; padding: 10px;" id="close4">close</i>
  </div>
  <div class="row" id="modalContainer">
    <p style="background-color: white; text-align: center; padding: 15px; font-weight: bold;
    color: #110033; border-radius: 30px; padding-top: 40px;">11Rating was from 1-10<br><br>
    <div class="col-3" id="checkboxDiv">
      <input type="checkbox" style="margin-top: 30px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 80px;">
      <input type="checkbox" style="margin-top: 65px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 95px;">
      <input type="checkbox" style="margin-top: 75px;">
      <input type="checkbox" style="margin-top: 45px;">
      <input type="checkbox" style="margin-top: 65px;">
      <input type="checkbox" style="margin-top: 78px;">
      <input type="checkbox" style="margin-top: 65px;">
      <input type="checkbox" style="margin-top: 65px;">
      <input type="checkbox" style="margin-top: 50px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 70px;">
      <input type="checkbox" style="margin-top: 75px;">
      <input type="checkbox" style="margin-top: 75px;">
      <input type="checkbox" style="margin-top: 65px;">
      <input type="checkbox" style="margin-top: 55px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 62px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 65px;">
      <input type="checkbox" style="margin-top: 90px;">
      <input type="checkbox" style="margin-top: 95px;">
      <input type="checkbox" style="margin-top: 75px;">
      <input type="checkbox" style="margin-top: 90px;">
      <input type="checkbox" style="margin-top: 85px;">
      <input type="checkbox" style="margin-top: 85px;">
      <input type="checkbox" style="margin-top: 85px;">
      <input type="checkbox" style="margin-top: 90px;">
      <input type="checkbox" style="margin-top: 60px;">
      <input type="checkbox" style="margin-top: 70px;">
      <input type="checkbox" style="margin-top: 70px;">
      <input type="checkbox" style="margin-top: 95px;">
      <input type="checkbox" style="margin-top: 95px;">
      <input type="checkbox" style="margin-top: 95px;">
      <input type="checkbox" style="margin-top: 68px;">
      <input type="checkbox" style="margin-top: 62px;">
      <input type="checkbox" style="margin-top: 62px;">
      <input type="checkbox" style="margin-top: 82px;">
      <input type="checkbox" style="margin-top: 87px;">
    </div>
    <div class="col-2" id="pictureDiv">
      <ul>
        <li><img src="/Images/Apple(Love).jpg" id=""></li>
        <li><img src="/Images/Banana(Creativity).jpg" id=""></li>
        <li><img src="/Images/Durian(Confidence).jpg" id=""></li>
        <li><img src="/Images/Cucumber(Caring).jpg" id=""></li>
        <li><img src="/Images/Date(Consistency).jpg" id=""></li>
        <li><img src="/Images/Dragonfruit(Knowledge).jpg" id=""></li>
        <li><img src="/Images/Blackberry(Experience).jpg" id=""></li>
        <li><img src="/Images/Olive(Faithfulness).jpg" id=""></li>
        <li><img src="/Images/Coconut(Intelligence).jpg" id=""></li>
        <li><img src="/Images/Lemon(Thoroughness).jpg" id=""></li>
        <li><img src="/Images/Tangerine(Cooperation).jpg" id=""></li>
        <li><img src="/Images/Passionfruit(Passion).jpg" id=""></li>
        <li><img src="/Images/Walnut(Humour).jpg" id=""></li>
        <li><img src="/Images/Starfruit(Leadership).jpg" id=""></li>
        <li><img src="/Images/Fig(Wisdom).jpg" id=""></li>
        <li><img src="/Images/Pomengranate(Resourcefulness).jpg" id=""></li>
        <li><img src="/Images/Orange(Insight).jpg" id=""></li>
        <li><img src="/Images/Cherry(Holiness).jpg" id=""></li>
        <li><img src="/Images/Watermelon(Generosity).jpg" id=""></li>
        <li><img src="/Images/Guava(Sincerity).jpg" id=""></li>
        <li><img src="/Images/Kiwifruit(Kindness).jpg" id=""></li>
        <li><img src="/Images/Cantaloupe(Humility).jpg" id=""></li>
        <li><img src="/Images/Breadfruit(Expertise).jpg" id=""></li>
        <li><img src="/Images/Papaya(Openness).jpg" id=""></li>
        <li><img src="/Images/Miraclefruit(Helpfulness).jpg" id=""></li>
        <li><img src="/Images/Huckleberry(Friendliness).jpg" id=""></li>
        <li><img src="/Images/Pineapple(Patience).jpg" id=""></li>
        <li><img src="/Images/Grape(Innocence).jpg" id=""></li>
        <li><img src="/Images/Tamarind(Trustworthiness).jpg" id=""></li>
        <li><img src="/Images/Blueberry(Empathy).jpg" id=""></li>
        <li><img src="/Images/Blackcurrant(Brilliance).jpg" id=""></li>
        <li><img src="/Images/Jackfruit(Capacity).jpg" id=""></li>
        <li><img src="/Images/Kolanut(Courtesy).jpg" id=""></li>
        <li><img src="/Images/Longan(Emotional Intelligence).jpg" id=""></li>
        <li><img src="/Images/Bitter Kola(Honour).jpg" id=""></li>
        <li><img src="/Images/Peach(Excellence).jpg" id=""></li>
        <li><img src="/Images/Lychee(Loyalty).jpg" id=""></li>
        <li><img src="/Images/Damson(Honesty).jpg" id=""></li>
        <li><img src="/Images/Cashew(Optimism).jpg" id=""></li>
        <li><img src="/Images/Mango(Fairness).jpg" id=""></li>
        <li><img src="/Images/Avocado(Compassion).jpg" id=""></li>
        <li><img src="/Images/Pear(Grace).jpg" id=""></li>
        <li><img src="/Images/Loquat(Reliability).jpg" id=""></li>
        <li><img src="/Images/Jujube(Tolerance).jpg" id=""></li>
        <li><img src="/Images/Lime(Frankness).jpg" id=""></li>
      </ul>
    </div>
    <div class="col-3" id="wordDiv">
      <ul>
        <li>(love)</li>
        <li>(Creativity)</li>
        <li>(Confidence)</li>
        <li>(Caring)</li>
        <li>(Consistency)</li>
        <li>(Knowledge)</li>
        <li>(Experience)</li>
        <li>(Faithfulness)</li>
        <li>(Intelligence)</li>
        <li>(Thoroughness)</li>
        <li>(Cooperation)</li>
        <li>(Passion)</li>
        <li>(Humour)</li>
        <li>(Leadership)</li>
        <li>(Wisdom)</li>
        <li>(Resourcefulness)</li>
        <li>(Insight)</li>
        <li>(Holiness)</li>
        <li>(Generosity)</li>
        <li>(Sincerity)</li>
        <li>(Kindness)</li>
        <li>(Humility)</li>
        <li>(Expertise)</li>
        <li>(Openness)</li>
        <li>(Helpfulness)</li>
        <li>(Friendliness)</li>
        <li>(Patience)</li>
        <li>(Innocence)</li>
        <li>(Trustworthiness)</li>
        <li>(Empathy)</li>
        <li>(Brilliance)</li>
        <li>(Capacity)</li>
        <li>(Courtesy)</li>
        <li>(Emotional Intelligence)</li>
        <li>(Honour)</li>
        <li>(Excellence)</li>
        <li>(Loyalty)</li>
        <li>(Honesty)</li>
        <li>(Optimism)</li>
        <li>(Fairness)</li>
        <li>(Compassion)</li>
        <li>(Grace)</li>
        <li>(Reliability)</li>
        <li>(Tolerance)</li>
        <li>(Frankness)</li>
      </ul>
    </div>
    <div class="col-4" id="rangeDiv">
      <ul>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 15px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 78px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 30px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 70px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 52px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 54px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 38px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 58px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 40px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 48px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 80px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 80px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 62px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 80px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 75px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 68px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 68px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 75px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 82px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 82px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 84px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 62px;"></li>
        <li><input type="number" max="10" min="1" value="0" style="margin-top: 75px;"></li>

      </ul>
    </div>
  </div>
</div>
