<div class="col-3" id='footer'>
  <ul>
    <li>Mango</li>
    <li>Apple</li>
    <li>Cashew</li>
    <li>Pawpaw</li>
    <li>Orange</li>
  </ul>
</div>
<div class="col-3" id='footer'>
  <ul>
    <li>Lemon</li>
    <li>Bananas</li>
    <li>grape</li>
    <li>bitterlemon</li>
    <li>sourgrape</li>
  </ul>
</div>
<div class="col-3" id='footer'>
  <ul>
    <li>waterlemon</li>
    <li>groundnut</li>
    <li>corn</li>
    <li>rice</li>
    <li>cereals</li>
  </ul>
</div>
<div class="col-3" id='footer'>
  <ul>
    <li>benzen</li>
    <li>methane</li>
    <li>ethane</li>
    <li>ethanol</li>
    <li>gasoline</li>
  </ul>
</div>
