<div id="loaderInterfaceRequest">
       <p id="loaderInterface"></p><br><br>
       <p style="color: white; margin-left: 45%; background-color: transparent;">Accessing Rating!!</p>
       <br>
       <p style="color: white; margin-left: 46%; ">Almost done!!</p>
</div>