<div id="loaderInterfaceRequestChat">
       <p id="loaderInterfaceChat"></p><br><br>
       <p style="color: white; margin-left: 37%;">Accessing Last Chat!!</p>
       <br>
       <p style="color: white; margin-left: 41%;">Almost done!!</p>
</div>