<div id="loaderInterfaceRequest">
       <p id="loaderInterface"></p>
       <p style="color: white; margin-left: 47%; background-color: transparent;">wait for it...</p>
       
       <p style="color: white; margin-left: 46%; background-color: transparent;">its coming!!...</p>
</div>