<div class="logoutModal">
  	<div id="logoutOutterModalDiv">
       <form action="/landing" method="GET" id="logoutForm">
         <p id="logOutMessage">Ooops! you are loging out<br>LoveDaises will miss you!! </p>
        <p id="noLogOut" onClick="exitLogOutModal()">No!</p> <button id="loggingOutButton">Yes!</button>
       </form>
    </div>
</div>
