<div class="parentForRateCover" style="">
   <div class="enableScroll" style="">
   	<form action="/" method="POST" style="">
   		<div class="parentForRate" style="">
     	<div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Apple(Love).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Apple<br>(Love)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Banana(Creativity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Banana<br>(Creativity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Durian(Confidence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Durian<br>(Confidence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cucumber(Caring).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cucumber<br>(Caring)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Date(Consistency).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Date<br>(Consistency)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Dragonfruit(Knowledge).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Dragonfruit<br>(Knowledge)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Blackberry(Experience).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blackberry<br>(Experience)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Olive(Faithfulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Olive<br>(Faithfulness).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/coconut(Intelligence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">coconut<br>(Intelligence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Walnut(Humour).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Walnut<br>(Humour).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Lemon(Thoroughness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lemon<br>(Thoroughness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Tangerine(Cooperation).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Tangerine<br>(Cooperation)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Passionfruit(Passion).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Passionfruit<br>(Passion)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Starfruit(Leadership).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Starfruit<br>(Leadership)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Fig(Wisdom).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Fig<br>(Wisdom)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Pomengranate(Resourcefulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pomengranate<br>(Resourcefulness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Orange(Insight).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Orange<br>(Insight)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cherry(Holiness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cherry<br>(Holiness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Watermelon(Generosity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Watermelon<br>(Generosity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Guava(Sincerity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Guava<br>(Sincerity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Kiwifruit(Kindness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Kiwifruit<br>(Kindness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
       
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cantaloupe(Humility).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cantaloupe<br>(Humility)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Breadfruit(Expertise).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Breadfruit<br>(Expertise)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Papaya(Openness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Papaya<br>(Openness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Miraclefruit(Helpfulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Miraclefruit<br>(Helpfulness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Huckleberry(Friendliness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Huckleberry<br>(Friendliness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Grape(Innocence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Grape<br>(Innocence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Tamarind(Trustworthiness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Tamarind<br>(Trustworthiness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Blueberry(Empathy).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blueberry<br>(Empathy)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Blackcurrant(Brilliance).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blackcurrant<br>(Brilliance)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Jackfruit(Capacity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Jackfruit<br>(Capacity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Kolanut(Courtesy).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Kolanut<br>(Courtesy)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Longan(Emotional Intelligence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Longan<br>(Emotional Intelligence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Bitter Kola(Honour).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Bitter Kola<br>(Honour)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Peach(Excellence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Peach<br>(Excellence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Lychee(Loyalty).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lychee<br>(Loyalty)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Damson(Honesty).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Damson<br>(Honesty)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cashew(Optimism).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cashew<br>(Optimism)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Mango(Fairness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Mango<br>(Fairness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Avocado(Compassion).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Avocado<br>(Compassion)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Pear(Grace).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pear<br>(Grace)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Loquat(Reliability).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Loquat<br>(Reliability)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Jujube(Tolerence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Jujube<br>(Tolerence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Lime(Frankness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lime<br>(Frankness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="padding-bottom: 20px;">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Pineapple(Patience).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="padding-top: 35%;">Pineapple<br>(Patience)</p><br>
		     	</div>
		     	<div class="rateDiv" style="width: 30%; margin-top: 10%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10" style="">
		     	</div>
        </div>
        <button style="left: 80%; z-index: 6px; position: fixed; top: 200px; float: right; border: 2px solid orange; padding: 25px; padding-left: 10px; padding-right: 10px; color: white; background-color: green; border-radius: 50%;">submit</button>
    </div>
   	</form>
</div>
</div>
