<div class="ratingPopUp" style="position: absolute; z-index: 100; right: 10px; top: 20px;width: 25%; border-radius: 10px; background-color: #110033; display: none;">
	<p style="padding: 10px; text-align: center; background-color: #110033; color: white; margin-top: 20px;">You just rated a post to</p>
	<p id="theRate" style="border-radius: 100px; padding: 35px; border: 5px solid white; color: white; background-color: green; width: 100px; margin: auto;">40</p>
	<p style="text-align: center; color: white; background-color: #110033; width: 100%; margin-bottom: 30px;">percent</p>
</div>