<div class="rejectionModal2">
  	<div id="rejectionModalDiv2">
       <form id="rejectionForm12">
         <p id="rejectionMessage">....Account Does Not Exit!!....</p>
       </form>
    </div>
</div>