<div class="rejectionModal">
  	<div id="rejectionModalDiv">
       <form id="rejectionForm1">
         <p id="rejectionMessage">....this Account Exist Already!!....</p>
       </form>
    </div>
</div>