<div class="retriveModal1">
  <div>
       	<i onClick="hideRetriveModal1()"class="material-icons" style="float: right;color: red;
        cursor: pointer; font-weight: bold;font-size:50px;padding: 10px;"
         id="close1">close</i>
  </div>
  	<div id="loginOutterModalDiv">
       <form id="loginForm">
         <p id="formTitle"><strong>LoveDaises</strong></p>
         <input type="text" value="Please Check Your spam mail...If you dont see it in 1:00mins please Retrive it again!!" id="forgetMessage"
         name="" style="padding-top: 40px; padding-bottom:30px;"readonly>
         <input type="submit" onClick="hideRetriveModal1"value="got it!!"
         style="background-color: green; color: white;">
       </form>
    </div>
</div>
