<div class="retriveModal">
  <div>
       	<i onClick="hideRetriveModal()"class="material-icons" style="float: right;color: red;
        cursor: pointer; font-weight: bold;font-size:50px;padding: 10px;"
         id="close1">close</i>
  </div>
  	<div id="loginOutterModalDiv">
       <form id="loginForm">
         <p id="formTitle"><strong>LoveDaises</strong></p>
         <input type="email" value="Email" name="">
         <input onClick="hideRetriveModal()"type="submit" value="Retrive Details"
         style="background-color: green; color: white">
       </form>
    </div>
</div>
