<div class="returnedRatingModal1" style="display: none;">
  	<div id="returnedRatingModal1">
       <form action="" id="returnedFormModal1">
         <p id="returnedMessage1">Average Ratings From Close People!!</p>
         <div class="row">
         </div>
         <div class="row">
             <div class="col-6">
                 <button id="closeReturnedRating1" style="float: right; padding: 6px; background-color: red; color: white; border-radius: 10px; border: none;">close</button>
             </div>
             <div class="col-6">
                 <button id="triggerReview1" onClick="displayRatingForm(this.id)" style="background-color: lightgreen; border-radius: 10px; border: none; padding: 6px;">Review me!</button>
             </div>
         </div>
       </form>
    </div>
</div>
