<div class="returnedRatingModal" style="display: none;">
  	<div id="returnedRatingModal">
       <form action="" id="returnedFormModal">
         <p id="returnedMessage">Average Ratings from EveryOne!!</p>
         <div class="row">
         	<div class="col-12">
         		<div class="someAttribute">	
         		</div>
         	</div>
         </div>
         <div class="row">
             <div class="col-6">
                 <button id="closeReturnedRating" style="float: right; padding: 6px; background-color: red; color: white; border-radius: 10px; border: none;" onclick="closeReturnedRatingModal()">close</button>
             </div>
             <div class="col-6">
             </div>
         </div>
       </form>
    </div>
</div>