<div class="warningMessage" style="display: none;">
	<p style="position: absolute; top: 150px; left: 25%; border-radius: 5px; border: none; text-align: center; width: 50%; background-color: white; padding: 20px; padding-top: 100px; padding-bottom: 100px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); color: red; z-index: 2; border: 1px solid black;">No body Found For Your Search<br>
	              Try and be more specific in your search</p>
</div>