<div class="signUpModal">
  <div>
       	<i onClick="hideSignUpModal()"class="material-icons" style="float: right;color: red;
        cursor: pointer; font-weight: bold;font-size:50px;padding: 10px;"
         id="close1">close</i>
  </div>
  	<div id="loginOutterModalDiv">
       <form action="/landingpage/signup2" method="POST" id="signUpForm" class='signUpForm1' enctype="multipart/form-data">
         <p id="formTitle"><strong>LoveDaises</strong></p>
         <input type="email" value="Email" name="email" id="signUpEmail">
         <input type="password" value="password" name="password" id="signUpPassword">
         <input type="submit" value="signUp">
       </form>
    </div>
</div>


