<div class="taggingConfirmed" style="">
  <div style="background-color: transparent;position: fixed; top: 0px;width: 100%;">
    <i class="material-icons" style="float: right;color: red; cursor: pointer; font-size:50px; padding: 10px;" id="closeEnterDaises"></i>
  </div>
  <div id="taggingWasSuccesfullDivMyDiv">
     <form id="taggingWasFormMyform">
          <p style="text-align: center; padding-top: 40px; padding-bottom: 40px;">Succesfully Tagged!!</p>
     </form>
  </div>
</div>