<div class="videoModal" style="">
     <form id="videoFormMyform">
          <p id="videoModalMessage" style="background-color: lightgreen; text-align: center; color: default; padding-top: 70px; padding-bottom: 70px; border-radius: 10px;">this message will be deleted anyway!</p>
     </form>
 </div>
