<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' >

  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/StyleSheets/timeSchdule.css">
  <base href = "http://beloveddais.com/">

</head>
<body>
  <div id='upmostHeader'>
  <button id='upmostHeaderButton1'>Settings</button>
  <button id='upmostHeaderButton2'>Logout</button>
  <button id='upmostHeaderButton3'>Daises</button>
</div>

<header>

  <ul>
    <li>
      <form action="/homepage" method="POST">
      <select name="statusTag" class='search1' style="border: none; background-color: #eeeeee;">
        <option value="beloved">Filter Your Search!!!</option>
        <option value="beloved">filter by Beloved</option>
        <option value="saviour">filter by Savours</option>
        <option value="Professional">filter by Professional</option>
      </select>
      <input type="text" class='search' value="Reach Out and meet people!!"/>
    </form>
    </li>

  </ul>
</header>
  <div class='row' id='multiformSection1'>
    <div class="col-2" id=''>
    </div>
    <div class="col-8" id='multiformSection'>
      <form action="/TimeSchdule" method="POST">
        <div id='titleForm'><p>BIOGRAPHY</p><br>

      <input type="submit" id='secondButton' value="Submit">
    </form>
    </div>
  </form>
</div>
<div class="col-2" id=''>
</div>
</div>
<div class='row' id='footermain'>
<div class="col-3" id='footer'>
  <ul>
    <li>Mango</li>
    <li>Apple</li>
    <li>Cashew</li>
    <li>Pawpaw</li>
    <li>Orange</li>
  </ul>
</div>
<div class="col-3" id='footer'>
  <ul>
    <li>Lemon</li>
    <li>Bananas</li>
    <li>grape</li>
    <li>bitterlemon</li>
    <li>sourgrape</li>
  </ul>
</div>
<div class="col-3" id='footer'>
  <ul>
    <li>waterlemon</li>
    <li>groundnut</li>
    <li>corn</li>
    <li>rice</li>
    <li>cereals</li>
  </ul>
</div>
<div class="col-3" id='footer'>
  <ul>
    <li>benzen</li>
    <li>methane</li>
    <li>ethane</li>
    <li>ethanol</li>
    <li>gasoline</li>
  </ul>
</div>
</div>

<div id='lastDivSection' style="">
<p>	LoveDaises Copyright 2017</p>
</div>
<script type="text/javascript" src=''></script>
</script>
</body>
</html>
