<!DOCTYPE html>
<html>
<head>
	<base href = "http://beloveddais.com/">
</head>
	<style></style>
	<body>
		
	</body>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' >
	<title></title>
	<link rel="shortcut icon" type="image/jpg" href="a.jpg">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <script src="/JavaScript/jquery-3.2.1.min(first).js"></script>
   <link rel="stylesheet" type="text/css" href="/StyleSheets/ratingModalForm1.css">
</head>
<body>
    <div class="row parentClass">
    	<input type="text">
    </div>
</body>
</html>