<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' >
	<title>meetpeople</title>
	<link rel="shortcut icon" type="image/jpg" href="a.jpg">
	<link rel="stylesheet" type="text/css" href="/StyleSheets/ratingModalForm.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type='text/css'>
	</style>
</head>
<body>
<div id="modal1">
    <header style="background-color: transparent;position: fixed; top: 0px;width: 100%;">
		<i class="material-icons" style="float: right;color: red; cursor: pointer; font-size:20px; padding: 10px;">close</i>
	</header>
	<div class="row" id=modalContainer>
	<p style="background-color: white; text-align: center; padding: 15px; font-weight: bold;
	color: #110033; border-radius: 30px; padding-top: 40px;">Rating is from 1-10<br><br>
	<span style="color: green; background-color: white;">Minimum of five ratings required!!!!</span></p>
	<div class="col-3" id="checkboxDiv">
        <input type="checkbox" style="margin-top: 30px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 80px;">
        <input type="checkbox" style="margin-top: 65px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 95px;">
        <input type="checkbox" style="margin-top: 75px;">
        <input type="checkbox" style="margin-top: 45px;">
        <input type="checkbox" style="margin-top: 65px;">
        <input type="checkbox" style="margin-top: 78px;">
        <input type="checkbox" style="margin-top: 65px;">
        <input type="checkbox" style="margin-top: 65px;">
        <input type="checkbox" style="margin-top: 50px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 70px;">
        <input type="checkbox" style="margin-top: 75px;">
        <input type="checkbox" style="margin-top: 75px;">
        <input type="checkbox" style="margin-top: 65px;">
        <input type="checkbox" style="margin-top: 55px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 62px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 65px;">
        <input type="checkbox" style="margin-top: 90px;">
        <input type="checkbox" style="margin-top: 95px;">
        <input type="checkbox" style="margin-top: 75px;">
        <input type="checkbox" style="margin-top: 90px;">
        <input type="checkbox" style="margin-top: 85px;">
        <input type="checkbox" style="margin-top: 85px;">
        <input type="checkbox" style="margin-top: 85px;">
        <input type="checkbox" style="margin-top: 90px;">
        <input type="checkbox" style="margin-top: 60px;">
        <input type="checkbox" style="margin-top: 70px;">
        <input type="checkbox" style="margin-top: 70px;">
        <input type="checkbox" style="margin-top: 95px;">
        <input type="checkbox" style="margin-top: 95px;">
        <input type="checkbox" style="margin-top: 95px;">
        <input type="checkbox" style="margin-top: 68px;">
        <input type="checkbox" style="margin-top: 62px;">
        <input type="checkbox" style="margin-top: 62px;">
        <input type="checkbox" style="margin-top: 82px;">
        <input type="checkbox" style="margin-top: 87px;">
	</div>
		<div class="col-2" id="pictureDiv">
		   <ul>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/1.apple(love).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/2.banana(creativity).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/3.Durian(confidence).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/4.cucumber(caring).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/5.date(consistency).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/6.dragonfruit(knowledge).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/7.Blackberry(experience).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/8.Olive(faithfulness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/9.Coconut(intelligence).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/10.Lemon(thoroughness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/11.Tangerine(cooperation).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/12.Passionfruit(passion).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/13.Walnut(humour).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/14.Starfruit(leadership).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/15.fig(wisdom).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/16.Pomengranate(resourcefulness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/17.orange(insight).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/18.cherry(holiness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/19.Watermelon(generosity).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/20.Guava(sincerity).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/21.kiwifruit(kindness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/22.cantaloupe(humility).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/23.breadfruit(expertise).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/24.papaya(openness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/25.miraclefruit(helpfulness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/26.huckleberry(friendliness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/27.pineapple(patience).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/28.grape(innocence).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/29.tamarind(trustworthiness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/30.blueberry(empathy).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/31.blackcurrant(brilliance).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/32.jackfruit(capacity).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/33.kolanut(courtesy).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/34.longan(Emotional intelligence).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/35.bitter Kola(honour).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/36.peach(excellence).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/37.lychee(loyalty).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/38.damson(honesty).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/39.cashew(optimism).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/40.mango(fairness).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/41.avocado(compassion).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/42.pear(grace).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/43.loquat(reliability).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/44.jujube(tolerance).jpg" id=""></li>
		   	<li><img src="/Program Files/nodejs/Adeoye folder/picturefile/45.lime(frankness).jpg" id=""></li>
		   </ul>
		</div>
		<div class="col-3" id="wordDiv">
		    <ul>
		    	<li>(love)</li>
		    	<li>(Creativity)</li>
		    	<li>(Confidence)</li>
		    	<li>(Caring)</li>
		    	<li>(Consistency)</li>
		    	<li>(Knowledge)</li>
		    	<li>(Experience)</li>
		    	<li>(Faithfulness)</li>
		    	<li>(Intelligence)</li>
		    	<li>(Thoroughness)</li>
		    	<li>(Cooperation)</li>
		    	<li>(Passion)</li>
		    	<li>(Humour)</li>
		    	<li>(Leadership)</li>
		    	<li>(Wisdom)</li>
		    	<li>(Resourcefulness)</li>
		    	<li>(Insight)</li>
		    	<li>(Holiness)</li>
		    	<li>(Generosity)</li>
		    	<li>(Sincerity)</li>
		    	<li>(Kindness)</li>
		    	<li>(Humility)</li>
		    	<li>(Expertise)</li>
		    	<li>(Openness)</li>
		    	<li>(Helpfulness)</li>
		    	<li>(Friendliness)</li>
		    	<li>(Patience)</li>
		    	<li>(Innocence)</li>
		    	<li>(Trustworthiness)</li>
		    	<li>(Empathy)</li>
		    	<li>(Brilliance)</li>
		    	<li>(Capacity)</li>
		    	<li>(Courtesy)</li>
		    	<li>(Emotional Intelligence)</li>
		    	<li>(Honour)</li>
		    	<li>(Excellence)</li>
		    	<li>(Loyalty)</li>
		    	<li>(Honesty)</li>
		    	<li>(Optimism)</li>
		    	<li>(Fairness)</li>
		    	<li>(Compassion)</li>
		    	<li>(Grace)</li>
		    	<li>(Reliability)</li>
		    	<li>(Tolerance)</li>
		    	<li>(Frankness)</li>
		    </ul>
		</div>
		<div class="col-4" id="rangeDiv">
		    <ul>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 15px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 78px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 30px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 70px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 52px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 54px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 38px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 58px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 60px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 40px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 45px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 48px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 80px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 80px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 62px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 80px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 75px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 68px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 68px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 75px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 82px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 82px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 84px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 50px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 55px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 62px;"></li>
		    	<li><input type="number" max="10" min="1" value="0" style="margin-top: 75px;"></li>

		    </ul>
		</div>
	</div>
</div>
</body>
</html>
