<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' >
	<title>meetpeople</title>
	<link rel="shortcut icon" type="image/jpg" href="a.jpg">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/StyleSheets/reachOut1.css">
	<style type='text/css'>
	</style>
</head>
<body>
	<div id="modal1">
	<div style="position: fixed; width: 100%; background-color: transparent;">
		<i class="material-icons" style="float: right;color: red; cursor: pointer; font-size:20px;padding: 10px;">close</i>
	</div>
		<div class="row" id="mainRow">
			<div class="col-3" id="clientNames">
			   <ul>
			   	<li>Olatunji Odelade</li>
			   </ul>
			</div>
			<div class="col-6" id="chatSection">
			<button id="connectionButton">Connected!!</button>
                      <input type="text" id="textInput">
			</div>
			<div class="col-3" id="Time">
                   <p>00:00</p>
			</div>
		</div>
	</div>
</body>
</html>
