	<!DOCTYPE html>
	<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' >

		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <script src="/JavaScript/jquery-3.2.1.min(first).js"></script>
		<link rel="stylesheet" type="text/css" href="/StyleSheets/timeSchdule.css">
		<base href = "http://beloveddais.com/">

	</head>
	<body>
		<div id='upmostHeader'>
		<button id='upmostHeaderButton1'>Settings</button>
		<button id='upmostHeaderButton2'>Logout</button>
		<button id='upmostHeaderButton3'>Daises</button>
	</div>

	<header>

		<ul>
			<li>
			   <form action="/homepage" method="POST" name="headerForm" class="headerForm1">
				<select name="statusTag" class='search1' style="border: none; background-color: #eeeeee;">
					<option value="beloved">Filter Your Search!!!</option>
					<option value="beloved">filter by Beloved</option>
					<option value="saviour">filter by Savours</option>
					<option value="Professional">filter by Professional</option>
				</select>
				<input type="text" class='search1' value="Reach Out and meet people!!"/>
				 <input type="text" value="" name="hiddenFieldForm" id="hiddenFieldForm" style="display: none;">
			</form>
			</li>

		</ul>
	</header>
		<div class='row' id='multiformSection1'>
			<div class="col-2" id=''>
			</div>
			<div class="col-8" id='multiformSection'>
				<form action="/TimeSchdule" method="POST">
					<div id='titleForm'><p>Day</p><p>Time</p><p>shortnote</p><br>
					</div>
					<div class="row" id="firstRow">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Sunday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4"  id="textareaStyle"></textarea>
						</div>
					</div>
					<div class="row" id="firstRow1">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Monday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4"  id="textareaStyle"></textarea>
						</div>
					</div>

					<div class="row" id="firstRow2">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Tuesday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4"  id="textareaStyle"></textarea>
						</div>
					</div>

					<div class="row" id="firstRow3">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Wednesday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4"  id="textareaStyle"></textarea>
						</div>
					</div>

					<div class="row" id="firstRow4">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Thursday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4"  id="textareaStyle"></textarea>
						</div>
					</div>

					<div class="row" id="firstRow5">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Friday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4"  id="textareaStyle"></textarea>
						</div>
					</div>

					<div class="row" id="firstRow6">
						<div class="col-2"id='tinana'>
							<input type='text' name='' value='Saturday' id='rute' readonly>
						</div>
						<div class="col-2"id='tinana1'>
							<input type='time' name='' value='' id='rute1'>
						</div>
						<div class="col-8"id='prustin'>
							<textarea name="message" rows="4" id="textareaStyle"></textarea>
						</div>
					</div>
				<input type="submit" id='secondButton' value="Submit">
			</form>
			</div>
		</form>
	</div>
	<div class="col-2" id=''>
	</div>
</div>
<div class='row' id='footermain'>
	<div class="col-3" id='footer'>
		<ul>
			<li>Mango</li>
			<li>Apple</li>
			<li>Cashew</li>
			<li>Pawpaw</li>
			<li>Orange</li>
		</ul>
	</div>
	<div class="col-3" id='footer'>
		<ul>
			<li>Lemon</li>
			<li>Bananas</li>
			<li>grape</li>
			<li>bitterlemon</li>
			<li>sourgrape</li>
		</ul>
	</div>
	<div class="col-3" id='footer'>
		<ul>
			<li>waterlemon</li>
			<li>groundnut</li>
			<li>corn</li>
			<li>rice</li>
			<li>cereals</li>
		</ul>
	</div>
	<div class="col-3" id='footer'>
		<ul>
			<li>benzen</li>
			<li>methane</li>
			<li>ethane</li>
			<li>ethanol</li>
			<li>gasoline</li>
		</ul>
	</div>
</div>

<div id='lastDivSection' style="">
	<p>	LoveDaises Copyright 2017</p>
</div>
<div>
	 <% include ./partials/SearchHint %>	
</div>
<script type="text/javascript">
	$('.headerForm1').keyup(function(event){
        	  $('.SearchHintp').hide();
        	  var searchQuery = document.getElementsByClassName('search1')[0].value;
        	  var theType = typeof searchQuery;
        	  if(theType == 'number') theType = 'number';
        	  if(searchQuery == '' || theType == 'number') return;
        	  var value = document.getElementById('hiddenFieldForm').value;
              $.ajax({
			        url: "http://beloveddais.win/homepageSearchQuery",
			        type: 'POST',
			        data: JSON.stringify({'searchQuery': searchQuery, 'hiddenFieldForm': value}),
                    crossDomain: true,
			        async: true,
			        cache: false,
			        contentType: "application/json; charset=utf-8",
			        processData: false,
			        success: function (data) {
			        	console.log(data);
			        	var arrayData = [];
			        	var onlineCounter = 0;
			            var onlineCounter1 = 0;
			            var offlineCounter = 0;
			            var offlineCounter1 = 0;
			        	if(data.message == 'No Result Found!'){
			        		var searchHint = "No Result, Continue Searching!";
			        		showHint(searchHint);
			        		return
			        	};

			            if(data.online != "" && data.offline != ''){
                              for(var i=0; i < data.online.length; i++){
                              	   onlineCounter++;
                                   arrayData.push(data.online[i].FirstName + ' ' + data.online[i].LastName);
                                   arrayData.push(data.online[i].Daises);
                                   if(onlineCounter == data.online.length){
                                        // do something
                                        break;
                                   }
                              }

                              for(var i=0; i < data.offline.length; i++){
                              	   offlineCounter++;
                                   arrayData.push(data.offline[i].FirstName + ' ' + data.offline[i].LastName);
                                   arrayData.push(data.offline[i].Daises);
                                   if(offlineCounter == data.offline.length){
                                   	    setTimeout(function(){
                                   	    	showHint(arrayData);
                                   	    },50);
                                        return;
                                   }
                              }
			            }

			            if(data.online == "" && data.offline >= 1){
                                   for(var i=0; i < data.online.length; i++){
                                   	    offlineCounter1++;
                                   	    //console.log('was this function called! ' +  );
                                        arrayData.push(data.offline[i].FirstName + ' ' + data.offline[i].LastName); 
                                        arrayData.push(data.offline[i].Daises);
                                        if(offlineCounter1 == data.online.length){
                                        	//console.log('was this function called!');
                                            showHint(arrayData);
                                        }
                                   }
			            }
			            if(data.online != "" && data.offline == ''){
                                   console.log('was this function called!');
                                   for(var i=0; i < data.online.length; i++){
                                   	console.log('was this function called!22');
                                   	   onlineCounter1++;
                                       arrayData.push(data.online[i].FirstName + ' ' + data.online[i].LastName);
                                       arrayData.push(data.online[i].Daises);
                                       if(onlineCounter1 == data.online.length){
                                       	    console.log('Code block Entered!');
                                            showHint(arrayData);
                                       }
                                   }
			            }

			            function showHint(searchHint){
				            	if(searchHint == 'No Result, Continue Searching!'){
				                    var generatedHTML = "<p class='SearchHintp'>No Result, Continue Searching!<br><br>Search with key words!</p>";
				                    $(generatedHTML).insertBefore('#SearchHint');
				                     $('.SearchHint').show();
				                     return;
				            	}
				                console.log(searchHint);
				                console.log('that is search hint above');
				            	var searchCounter = 0;
				            	//var uniqueId = abac;
				            	for(var i=0; i < searchHint.length; i++){
				            	    searchCounter++;
				                    var generatedHTML = "<p class='SearchHintp'><a href='http://beloveddais.com/homepageSearchQuery/" + searchHint[i] + "'" + " style='color: white; text-decoration: none; width: 100%; background-color: transparent;'>" + searchHint[i] + "</a></p>";
				                   // var generatedHTML = "<p onload='setOnlisterner()' class='SearchHintp'>" + searchHint[i] + "</p>";
				                   //var generatedHTML = "<a href='http://beloveddais.com/homepageSearchQuery/" + searchHint[i] + "'" + ' ' + " style='' class='SearchHintp'>" + searchHint[i] + "</a><br>";
				                    $(generatedHTML).insertBefore('#SearchHint');
				                    if(searchCounter == searchHint.length){
				                         $('.SearchHint').show();
				                         return;
				                    }
				                }
			            }	            
			        },
			        error: function(data){
                        alert("Please Check your server! <br> something is wrong!");
			        }
			       
			    });
    });
</script>
</script>
</body>
</html>
