#inboxPage {
 position: fixed;
 margin-top: 105px;
 margin-left: 18%;
 padding: 10px;
 color: white;
 background-color: #110033;
 z-index: 4;
 border-radius: 10px;
}

#ajaxSectionDynamic {
    width: 95%;
	margin-left: 2.5%;
}

#ajaxSectionDynamic1 {
    width: 95%;
	margin-left: 2.5%;
}

#nofriendAvailable {
	display: none;
	border-radius: 10px; 
	margin-left: 14%; 
	width: 76%; 
	padding-top: 150px; 
	padding-bottom: 150px; 
	text-align: center; 
	background-color: #183148; 
	color: white; 
	font-weight: bold; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#nofriendAvailable1 {
	display: none;
	border-radius: 10px; 
	margin-left: 14%; 
	width: 76%; 
	padding-top: 150px; 
	padding-bottom: 150px; 
	text-align: center; 
	background-color: #183148; 
	color: white; 
	font-weight: bold; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#outerCoverDynamic {
	padding: 10px;
	background-color: white;
	width: 80%;
	margin-left:12%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

#firstPDynamic {
	background-color: white;
	color: green;
	width: 100%;
	padding-bottom: 10px;
}

#SecondPDynamic {
	font-size: 14px;
	background-color: white;
	width: 100%;
	padding-bottom: 5px;
	padding-left: 10px;
}

#innerRowDynamic {
	width: 100%;
}

#pictureDivDynamic {
    background-color: white;
    padding: 0px;
}

#ratingDivDynamic {
	direction: rtl;
	padding: 0px;
    background-color: #1a9875;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    align-content: left;
    padding-top: 20px;
    padding-right: 2%;

}

#ratingNumber1Dynamic {
	  float: right;
	  color: white;
      background-color: green;
      padding: 10px;
      border-radius: 50px;
      border: 4px solid orange;

}
#ratingNumber2Dynamic {
	  float: right;
	  padding: 10px;
	  color: white;
	  background-color: green;
      border-radius: 50px;
      border: 4px solid orange;
}

#mainReviewDynamic {
	    width: 100%;
	    padding-right: 10%;
	    padding-top: 10px;
	    padding-bottom: 10px;
		background-color: pink;

}

#connectButtonDynamic {
	            padding: 3px;
				background-color: #183148;
				color: white;
				border-radius: 5px;
				border: 1px solid orange;
				margin-left: 1.5%;
}
#connectButtonDynamic:hover {
	background-color: green;
}

#thirdPDynamic {
	font-size: 14px;
	background-color: white;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 10px;"
}
.SearchHint{
   width: 50%;
   z-index: 100; 
   top: 90px; 
   left: 47.5%; 
   position: fixed;
 }
 .SearchHintp{
    background-color: #183148; 
    padding: 4px; 
    border: 0.2px solid #f1f1f1;
    color: white;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
 }